/* ------ mobilyslider
-----------------------------------------------*/

.slider {
		float:left;
		width:930px;
		height:290px;
		position:relative;
		padding-bottom:26px;
		margin-top: 16px;
		margin: 0 auto;
		background: #faf8ff;
}

.sliderContent {
		float:left;
		width:930px;
		height:310px;
		clear:both;
		position:relative;
		overflow:hidden;
		border: 1px solid #E4E8ED;
}

.sliderArrows a {
		display:block;
		text-indent:-9999px;
		outline:none;
		z-index:50;
		background-image:url(../img/prev_next.png);
		width:42px;
		height:42px;
		position:absolute;
		top:50%;
		margin-top:-34px;
}


.prev {
background-position:0 0;
left:15px;
}

.caption {
	position: absolute;
	left: 0px;
	bottom: 0px;
	background: #223140;
	color: #fff;
	opacity: 0.6;
	width: 900px;
	height: 50px;
	z-index: 89;
	padding: 20px;
	font-size: 20px;
	font-family: Ubuntu, Arial, Helvetica, sans-serif;
	text-shadow: 0 1px 1px #000;
}

.next {
	right:15px;
	background-position:-44px 0;
}



.sliderContent .item {
		position:absolute;
		width:900px;
		height:325px;
		background:#fff;
}

.sliderBullets {
		position:absolute;
		bottom:0;
		left:50%;
		z-index:50;
		margin-left:-45px;
}

.sliderBullets a {
		display:block;
		float:left;
		text-indent:-9999px;
		outline:none;
		margin-left:5px;
		width:10px;
		height:11px;
		background:url(../gfx/bullets.png) no-repeat;
}

.sliderBullets .active {
		background-position:0 -11px;
}

.sliderContent a {
		outline:none;
}